div {
border-style:solid;
border-width:1px;
border-color:#000;
margin:4px;
padding:3px;
}

.dialog{
background-color:#DDD;
}

.task{
background-color:#AAA;
margin-bottom:16px;
padding:6px;
border-width:2px;
}

.itos{
background-color:#EEE;
}

.ito{
background-color:#DDD;
}

.action{
background-color:#070;
}

.selector{
background-color:#CC0;
}

h3{
font-weight:bold;
font-size:12pt;
padding:0px;
margin:0px;
}

ul{
margin:0px;
}